.idea/workspace.xml
.idea/workspace.xml
__pycache__/GUI_Style_Sheets.cpython-313.pyc
__pycache__/GUI_Style_Sheets.cpython-313.pyc
__pycache__/GUI_Text_Manager.cpython-313.pyc
/__pycache__
__pycache__/GUI_Text_Manager.cpython-313.pyc
__pycache__/GUI_Style_Sheets.cpython-313.pyc
__pycache__/GUI_Sound_Manager.cpython-313.pyc
.idea/workspace.xml
.idea/GRBAS_Mate.iml
